services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/var/www
    networks:
      - laravel

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: postgres:18
    container_name: laravel_pgsql
    environment:
      POSTGRES_DB: erp_lmg
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Lmg140818
    ports:
      - "5432:5432"
    networks:
      - laravel

networks:
  laravel:
